<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.paytree.mapper.HistoryMapper">
    <select id="getMemberWalletHistoryByMemberId" parameterType="String" resultType="com.api.paytree.dto.WalletDto$WalletHistory">
        SELECT  history_type,
                amount,
                created_at
        FROM TB_VIRTUAL_WALLET_HISTORY
        WHERE member_id = #{memberId}
    </select>

    <insert id="insertWalletHistory">
        INSERT INTO TB_VIRTUAL_WALLET_HISTORY (
            upper_agency_name,
            agency_type,
            agency_id,
            agency_name,
            member_id,
            member_name,
            virtual_id,
            virtual_name,
            send_type,
            history_type,
            approval_status,
            amount,
            wire_transfer_fee,
            memo,
            tid,
            created_at
        ) VALUES (
            #{upperAgencyName},
            #{agencyType},
            #{agencyId},
            #{agencyName},
            #{memberId},
            #{memberName},
            #{virtualId},
            #{virtualName},
            #{sendType},
            #{historyType},
            #{approvalStatus},
            #{amount},
            #{wireTransferFee},
            #{memo},
            #{tid},
            #{createdAt}
        )
    </insert>

    <select id="getWalletHistoryList" parameterType="com.api.paytree.dto.SearchDto$Search" resultType="com.api.paytree.dto.WalletDto$WalletHistory">
        SELECT  history_no,
                upper_agency_id,
                upper_agency_name,
                agency_type,
                agency_id,
                agency_name,
                member_id,
                member_name,
                virtual_id,
                virtual_name,
                send_type,
                history_type,
                approval_status,
                amount,
                wire_transfer_fee,
                memo,
                tid,
                created_at
        FROM TB_VIRTUAL_WALLET_HISTORY
        WHERE TRUE
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND created_at BETWEEN #{startDate} AND #{endDate}
        </if>
        <if test="upperAgencyId != null and upperAgencyId != ''">
            AND upper_agency_id = #{upperAgencyId}
        </if>
        <if test="agencyId != null and agencyId != ''">
            AND agency_id = #{agencyId}
        </if>
        <if test="agencyType != null and agencyType != ''">
            AND agency_type = #{agencyType}
        </if>
        <if test="virtualId != null and virtualId != ''">
            AND virtual_id = #{virtualId}
        </if>
        <if test="sendType != null and sendType != ''">
            AND send_type = #{sendType}
        </if>
        <if test="historyType != null and historyType != ''">
            AND history_type = #{historyType}
        </if>
        <if test="approvalStatus != null and approvalStatus != ''">
            AND approval_status = #{approvalStatus}
        </if>
        <choose>
            <when test="filter == 'agencyId'">
                AND agency_id = #{keyword}
            </when>
            <when test="filter == 'agencyName'">
                AND agency_name = #{keyword}
            </when>
            <when test="filter == 'memberId'">
                AND member_id = #{memberId}
            </when>
            <when test="filter == 'memberName'">
                AND member_name = #{memberName}
            </when>
        </choose>
        ORDER BY history_no DESC
        LIMIT #{rows} OFFSET #{offset}
    </select>

    <select id="getWalletHistoryDetail" resultType="com.api.paytree.dto.WalletDto$WalletHistory">
        SELECT  upper_agency_id,
                upper_agency_name,
                agency_type,
                agency_id,
                agency_name,
                virtual_name,
                send_type,
                history_type,
                approval_status,
                amount,
                wire_transfer_fee,
                memo,
                tid,
                created_at
        FROM TB_VIRTUAL_WALLET_HISTORY
        WHERE history_no = #{historyNo}
    </select>
</mapper>